/src/Core/bin/
/src/Core/obj/
/src/Infrastructure/bin/
/src/Infrastructure/obj/
/src/Web/bin/
/src/Web/obj/
/test/End2EndTests/bin/
/test/End2EndTests/obj/
/test/IntegrationTest/bin/
/test/IntegrationTest/obj/
/test/UnitTest/bin/
/test/UnitTest/obj/
/test/SupportScripts/bin/
/test/SupportScripts/obj/
/.idea/

/bin
/obj
[Bb]in/
[Oo]bj/