/src/Core/bin/
/src/Core/obj/
/src/Infrastructure/bin/
/src/Infrastructure/obj/
/src/Web/bin/
/src/Web/obj/
/test/End2EndTests/bin/
/test/End2EndTests/obj/
/test/IntegrationTest/bin/
/test/IntegrationTest/obj/
/test/UnitTest/bin/
/test/UnitTest/obj/
/test/SupportScripts/bin/
/test/SupportScripts/obj/
/.idea/
/__pycache__/

/bin
/obj
[Bb]in/
[Oo]bj/
.fake
.env

.local_vm/*
.vagrant/*
**/__pycache__/*
*.tar.gz
megalinter-reports/
src/Web/chat.db
grafana.db


.terraform/

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info
.terraform.lock.hcl

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc