Anton <antt@itu.dk> Anton <antonthejsen@gmail.com>
Jordan <s25121@itu.dk> JordanCherry2000 <jordancherry00@gmail.com>
Jordan <s25121@itu.dk> Jordan Cherry
Karam <mhay@itu.dk> @KaramTNC
Karam <mhay@itu.dk> Karam <karamhaybout@gmail.com>
Karam <mhay@itu.dk> KaramTNC <56737093+KaramTNC@users.noreply.github.com>
Karam <mhay@itu.dk> KaramTNC <karamhaybout@gmail.com>
LLM <none> Copilot Autofix
LLM <none> GitHub Copilot
LLM <none> Google Gemini
Madeleine <majak@itu.dk> Maja-Box <100191460+Maja-Box@users.noreply.github.com>
Madeleine <majak@itu.dk> Maja-Box <madeleine.jakobsen2@gmail.com>
Madeleine <majak@itu.dk> majak-Madeleine Jakobsen <100191460+Maja-Box@users.noreply.github.com>
Madeleine <majak@itu.dk> Maja-Box <madeleine.jakobsen2@gmail.com>
Oriol <s25137@itu.dk> usern132 <24841687+usern132@users.noreply.github.com>
Tim <thou@itu.dk> Tim (thou)
Tim <thou@itu.dk> Tim (thou) <94905587+TimHounsgaard@users.noreply.github.com>
Tim <thou@itu.dk> TimHounsgaard <94905587+TimHounsgaard@users.noreply.github.com>
Tim <thou@itu.dk> TimHounsgaard <timogco@gmail.com>
Oriol <s25137@itu.dk> usern132 <24841687+usern132@users.noreply.github.com>
