# It must be at least 16 characters long
TF_VAR_state_password=

# Generate a PAT at https://cloud.digitalocean.com/account/api/tokens
TF_VAR_do_token=

# Path to the private key corresponding to the public key added at https://cloud.digitalocean.com/account/security
TF_VAR_private_key_path=
# Name of the key that you added at https://cloud.digitalocean.com/account/security
TF_VAR_do_ssh_key_name=

# Generate a full access key at https://cloud.digitalocean.com/spaces/access_keys
TF_VAR_spaces_access_id=
TF_VAR_spaces_secret_key=

# It must be at most 8 characters long
TF_VAR_keepalived_password=

# URL of the managed database
DB_URL=

# Desired credentials for the Grafana admin user
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=