# It must be at least 16 characters long
TF_VAR_state_password=

TF_VAR_do_token=
TF_VAR_private_key_path=
TF_VAR_do_ssh_key_name=

# It must be at most 8 characters long
TF_VAR_keepalived_password=

DB_URL=

# Desired credentials for the Grafana admin user
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=