networks:
  {{ app_name }}-network:
    name: {{ app_name }}-network

volumes:
  prometheus_data:
  grafana-storage:
  loki-data:

secrets:
  grafana_admin_user:
    environment: GF_SECURITY_ADMIN_USER
  grafana_admin_password:
    environment: GF_SECURITY_ADMIN_PASSWORD

# Limit log size per container
x-logging: &default_logging
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:
  prometheus:
    <<: *default_logging
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./files/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - {{ app_name }}-network
    restart: unless-stopped

  grafana:
    <<: *default_logging
    image: grafana/grafana
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER__FILE=/run/secrets/grafana_admin_user
      - GF_SECURITY_ADMIN_PASSWORD__FILE=/run/secrets/grafana_admin_password
    secrets:
      - grafana_admin_user
      - grafana_admin_password
    ports:
      - "3000:3000"
    volumes:
      - ./files/grafana/datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
      - ./files/grafana/dashboards:/etc/grafana/provisioning/dashboards
      - grafana-storage:/var/lib/grafana
    networks:
      - {{ app_name }}-network
    restart: unless-stopped

  grafana-alloy:
    <<: *default_logging
    image: grafana/alloy
    container_name: grafana-alloy
    ports:
      - "12345:12345"
    volumes:
      - ./files/grafana/config.alloy:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    networks:
      - {{ app_name }}-network
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    restart: unless-stopped

  grafana-loki:
    <<: *default_logging
    image: grafana/loki
    container_name: grafana-loki
    ports:
      - "3100:3100"
    volumes:
      - ./files/grafana/loki-config.yml:/etc/loki/local-config.yaml
      - loki-data:/loki
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - {{ app_name }}-network
    restart: unless-stopped

  itu-api-server:
    <<: *default_logging
    image: {{ docker_username }}/itu-api-server:{{ IMAGE_TAG | default("latest") }}
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    container_name: api
    ports:
      - "8080:8080"
      - "9185:9185"
    env_file:
      - .env
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - OTEL_PROMETHEUS_URI_PREFIX=http://*:9185/
    networks:
      - {{ app_name }}-network
    restart: unless-stopped

  itu-web-server:
    <<: *default_logging
    image: {{ docker_username }}/itu-web-server:{{ IMAGE_TAG | default("latest") }}
    build:
      context: .
      dockerfile: docker/web/Dockerfile
    container_name: web
    ports:
      - "5001:5001"
      - "9184:9184"
    env_file:
      - .env
    environment:
      - ASPNETCORE_URLS=http://+:5001
      - OTEL_PROMETHEUS_URI_PREFIX=http://*:9184/
    networks:
      - {{ app_name }}-network
    restart: unless-stopped
