name: Deploy

# Run only on Main and when the BuildTest workflow succeeds
on:
  push:
  workflow_dispatch:
  workflow_run:
    workflows: [Build & Test]
    types: [completed]
    branches: [main]

jobs:
  vagrant-deploy:
    runs-on: ubuntu-latest
    # if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
            ruby-version: 3.3.6

      - name: Install Vagrant and DigitalOcean plugin
        run: |
          wget -O - https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg 
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(grep -oP '(?<=UBUNTU_CODENAME=).*' /etc/os-release || lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update && sudo apt install vagrant
          vagrant plugin install vagrant-digitalocean

      - name: Chown user
        run: |
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE
      
      - name: Install latest version of i18n gem into Vagrant gems folder
        run: |
          rm -rf /opt/vagrant/embedded/gems/gems/i18n-*
          gem install i18n
          cp -a /usr/lib/ruby/gems/3.4.0/gems/i18n-1.14.8/. /opt/vagrant/embedded/gems/gems/i18n-1.14.8/

      - name: Run Vagrant
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
          SSH_KEY_NAME: ${{ secrets.SSH_KEY_NAME }}
          DIGITAL_OCEAN_TOKEN: ${{ secrets.DIGITAL_OCEAN_TOKEN }}
        run: |
          if [ -z "$SSH_KEY" ] || [ -z "$SSH_KEY_NAME" ] || [ -z "$DIGITAL_OCEAN_TOKEN" ]; then
            echo "Error: One or more required environment variables (SSH_KEY, SSH_KEY_NAME, DIGITAL_OCEAN_TOKEN) are missing."
            exit 1
          fi
          echo "Ruby version: $(ruby -v)"
          echo "Vagrant version: $(vagrant -v)"
          vagrant provision
