name: Deploy

# Run only on Main and when the BuildTest workflow succeeds
on:
  push:
  workflow_dispatch:
  workflow_run:
    workflows: [Build & Test]
    types: [completed]
    branches: [main]

jobs:
  digitalocean-vagrant:
    runs-on: ubuntu-latest
    # if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
            ruby-version: 3.3.6

      - name: Install Vagrant
        run: |
          wget -O - https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg 
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(grep -oP '(?<=UBUNTU_CODENAME=).*' /etc/os-release || lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update && sudo apt install vagrant
          vagrant plugin install vagrant-digitalocean

      - name: Run Vagrant
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
          SSH_KEY_NAME: ${{ secrets.SSH_KEY_NAME }}
          DIGITAL_OCEAN_TOKEN: ${{ secrets.DIGITAL_OCEAN_TOKEN }}
        run: vagrant up --provider=digital_ocean

  # deploy:
  #   runs-on: ubuntu-latest
  #   if: ${{ github.event.workflow_run.conclusion == 'success' }}
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3
