name: Deploy

# Run only on Main and when the BuildTest workflow succeeds
on:
  push:
  workflow_dispatch:
  workflow_run:
    workflows: [Build & Test]
    types: [completed]
    branches: [main]

jobs:
  vagrant-deploy:
    runs-on: ubuntu-latest
    # if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
            ruby-version: 3.3.6

      - name: Install Vagrant and DigitalOcean plugin
        run: |
          wget -O vagrant.deb https://releases.hashicorp.com/vagrant/2.3.7/vagrant_2.3.7-1_amd64.deb
          sudo dpkg -i vagrant.deb
          vagrant plugin install vagrant-digitalocean
      
      - name: Run Vagrant
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
          SSH_KEY_NAME: ${{ secrets.SSH_KEY_NAME }}
          DIGITAL_OCEAN_TOKEN: ${{ secrets.DIGITAL_OCEAN_TOKEN }}
        run: |
          if [ -z "$SSH_KEY" ] || [ -z "$SSH_KEY_NAME" ] || [ -z "$DIGITAL_OCEAN_TOKEN" ]; then
            echo "Error: One or more required environment variables (SSH_KEY, SSH_KEY_NAME, DIGITAL_OCEAN_TOKEN) are missing."
            exit 1
          fi
          echo "Ruby version: $(ruby -v)"
          echo "Vagrant version: $(vagrant -v)"
          vagrant provision
